.btn
  background: $primary-color
  color: $secondary-color
  text-decoration: none
  display: block
  padding: 3rem
  margin: 3rem
  border-radius: 10rem

  &:hover
    background: $secondary-color
    color: $primary-color
