$header-color: #05445E
$link-color: #189AB4

body
  font:
    family: 'Inter', sans-serif
    size: 16px
  background-image: asset_url('geometry_@2X.png')

p
  font-size: ms(3)

a
  color: $link-color
  text-decoration: none

h1, h2, h3, h4, h5, h6
  font-family: 'Source Serif Pro', serif
  color: $header-color

h1
  font-size: ms(9)
  font-weight: bold

h2
  font-size: ms(8)
  font-weight: bold

h3
  font-size: ms(7)
  font-weight: bold

